#assignment-instructions {
    color: lightcoral;
    font-family: fantasy;
}



.second-list-item code {
    color: green;
}

code {
    font-family: monospace;
    color:red;
}

body{
    color: teal;
}

ol > li {
    background: black;
    color: white;
}

li + li {
    color:white;
    background:black;
}



